@import "~assets/styles/variables.scss";

.body {
  margin-top: $header-height;

  @media screen and (min-width: 960px) {
    display: flex;
    justify-content: center;
    padding: 0 72px;
  }
}

.profile {
  padding-top: $header-height;
  @media screen and (min-width: 960px) {
    padding-right: 16px;
  }
}

.contents {
  @media screen and (min-width: 960px) {
    padding-top: $header-height;
    padding-left: 304px;
  }
}
