@import "~assets/styles/variables.scss";

$list-item-height: 24px;

.container {
  height: $list-item-height;
  padding: 8px;
  display: flex;

  @include text(normal, bold);
}

.iconContainer {
}

.itemIcon {
  margin-right: 16px;

  width: $list-item-height;
}
