@import "~assets/styles/variables.scss";

.container {
  margin: 16px 0;
}

.centralize {
  width: 80%;
  margin: auto;
  text-align: center;
}

.iconImage {
  width: 70%;
  max-width: 250px;
  border-radius: 300px;
}

.containerSideView {
  width: 240px;
}

.iconImageSideView {
  width: 100%;
  border-radius: 300px;
}

.nameContainer {
  margin: 16px 0;
}
