@import "~assets/styles/variables.scss";

.container {
  width: 100%;
}

.name {
  color: $black;

  @include text(large, bold);
}

.position {
  margin-top: 4px;
  color: $dark-grey;
  border-bottom: solid 0.5px $dark-grey;

  @include text(normal, bold);
}
