@import "~assets/styles/variables.scss";

.bio {
  margin: 32px;
  margin-bottom: 0px;

  text-align: center;

  @media screen and (min-width: 960px) {
    margin-top: 64px;
    margin-left: 0px;
    text-align: left;
  }

  @include text(normal, regular);
}
