@import "~assets/styles/variables.scss";

.bio {
  margin: 32px;
  text-align: center;

  @media screen and (min-width: 960px) {
    text-align: left;
  }

  @include text(small, regular);
}
